*.log
*.pot
*.py[co]
*.DS_Store
rapidsms.log
*.mo
*~
*.db
*.orig
.env
.idea
imam/imam/preset/salt*
imam/wsgi.py
imam/manage.py
SaltStack/*
SaltPillar/*
*.backup
.coverage
htmlcov
imam/imam/tomasz_settings.*
imam/media
imam/static
imam/bower_components/
